.about-section {
    background-color: rgb(230, 230, 230);
    padding: 30px;
    h1 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 30px;
    }
}

.about-me-paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-container {
    max-width: 275px;
    margin: 0 auto;
    p {
        margin: 20px 0;
        line-height: 1.4em;
    }
    a {
        color: #000;
        margin-left: 20px;
    }
}


.profile-pic {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   border-radius: 50%;
}

@media screen and (min-width: 768px) {
    .about-section {
        h1 {
            font-size: 3rem;
        }
        
    }
    .about-container {
        max-width: 750px;
        display: flex;
    }
    .profile-pic {
        height: 300px;
        width: 300px;
        margin-top: 75px;
    }
    .about-me-paragraphs {
        width: 500px;
        p {
            margin: 20px;
        }
    }
}

@media screen and (min-width: 992px) {
    .about-section {
        h1 {
            font-size: 3.5rem;
        }

    }

    .about-container {
        max-width: 900px;
        display: flex;
        justify-content: space-between;
    }

    .profile-pic {
        height: 350px;
        width: 350px;
        margin-top: 25px;
    }

    .about-me-paragraphs {
        width: 500px;

        p {
            margin: 20px;
        }
    }
}