* {
    box-sizing: border-box;

}

@import 'Landing';
@import 'About';
@import 'Skills';
@import 'Project';
@import 'Contact';
@import 'Footer';



.App {
    background-color: #fff;
    font-family: 'Roboto',
    sans-serif;
}


